# Spark Dataframe
- look like pandas dataframes
- share some of the same methods and syntax
- but they are 2 seperate types of objects

Create Spark DataFrame

In [1]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Create pandas DataFrame

In [4]:
import pandas as pd
import numpy as np

np.random.seed(456)

pd_df = pd.DataFrame(
    dict(n=np.arange(20), group=np.random.choice(list("abc"), 20))
)
pd_df.head()

   n group
0  0     b
1  1     b
2  2     c
3  3     a
4  4     c

In [5]:
sp_df= spark.createDataFrame(pd_df)
sp_df

DataFrame[n: bigint, group: string]

In [8]:
sp_df.show(3)

+---+-----+
|  n|group|
+---+-----+
|  0|    b|
|  1|    b|
|  2|    c|
+---+-----+
only showing top 3 rows